.innerBox input {
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0px 15px;
}

.innerBox {
  background-color: white;
  width: fit-content;
  margin-left: 90px;
  padding: 10px 10px;
  border-radius: 10px;
  margin: auto auto;
  
}
.search {
  margin-top: 30px;
}

